
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title><%=user%>说说</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">

  </head>

  <body>
        <% include discuss_header.ejs %>
       <div class="container">
           <div class="row"> 
           <div class="col-lg-6" >
            <div class="head-user"><h1><%=user%>的主页</h1></div> 
            <% for(let i=0;i<personalcontents.length;i++){%>
                <div class="personal-contents">
                    <p><%=personalcontents[i].content%></p>
                    <p><%=personalcontents[i].datetime%></p>
                </div>
            <%} %>
           </div>
           <div class="col-lg-6">
            <div class="head-img">
           <img src="/avatar/<%=personalavatar%>" />
          </div>
           </div>
       </div>
       </div>
     

        <div class="container">    
      <footer>
        <p>&copy; 2018 Chenxq, Practice.</p>
      </footer>
    </div> <!-- /container -->
    
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/underscore-min.js"></script>
    <script src="../js/discuss/button.js"></script>
    
  </body>
</html>
