
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>部门说说</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <link href="http://at.alicdn.com/t/font_852479_bz4abyxnrh9.css" rel="stylesheet">

  </head>

  <body>
      <% include discuss_header.ejs %>

      <%if(!login){%>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-lg-6"> 
        <h1>Welcome!!</h1>
        <h2>This is a funny website for your department</h2>
        <p>if you want to join the website,you have to sign up OR you have had a acount,you can login directly.</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
      <div class="col-lg-6 login-box">
        <h1>LOGIN </h1>
          <form class="login-form">
              <div class="form-group">
                <label for="InputUsername">Username</label>
                <input type="text" class="form-control" id="InputUsername" placeholder="username">
              </div>
              <div class="form-group">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="InputPassword" placeholder="password">
              </div>
              <div class="login-button">
              <button  type="button" class="btn btn-success" id="btn-login">Login</button>
              <button  type="button" class="btn btn-default" id="btn-register">Register</button>
              <p class="forget-password"><a href="/forgetpassword" class="alert-link">forget the password?</a></p>
            </div>
              <div class="alert alert-success" role="alert" id="form-input-success">
                   <a href="#" class="alert-link">登录成功,即将跳转至首页</a>
              </div>
              <div class="alert alert-danger" role="alert" id="form-input-wrong">
                      <a href="#" class="alert-link">未注册，请先注册</a>
              </div>
            
            </form>
        </div>
    </div>
      </div>
    </div>

    <%}else{%>
      <div class="jumbotron">
          <div class="container">
            <div class="row">
            <div class="col-lg-8">
            <h1>
              <a href="/changeimage"><img src="/avatar/<%=avatar%>" alt=""/></a>
                <%=username%>
            </h1>
           <form>
            <div class="moments">
              <textarea id="content" name="content" cols="30" rows="10"></textarea>
              <button  type="button" class="btn btn-success" id="btn-publish">Publish</button>
            </div>
          </form>
          <nav class="navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous" class="previous-btn">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <ul class="paginationlist">
        
                </ul>
                <li>
                  <a href="#" aria-label="Next" class="next-btn">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>   
            <div class="row" id="allmoments"></div>     
        </div>
          <div class="col-lg-4">
              <h1 style="margin-left:30px;">用户列表</h1>
              <ul class="userlist" id="userlist">
                    <% for(let i=0;i<alluser.length;i++){%>
                        <li class="alluser">
                            <div class="alluser-left" id="alluser-left" >
                            <p class="alluser-img"><img src="/avatar/<%=alluser[i].avatar%>" /></p>
                            <p class="alluser-name"><%=alluser[i].username%></p>
                            </div>
                            <div class="alluser-right" id="alluser-right">
                               <a href="/mymoments/<%=alluser[i].username%>" > <p class="add-for-user"><i class="icon iconfont icon-xingzhuanggongnengtubiao-"></i>查看评论</p></a>
                             <p  id="addfriend" type="button"  class="add-for-user"><i class="icon iconfont icon-jiahao"></i>加为好友</p>
                            </div>
                            
                          </li>
                    <%} %>
              
              </ul>
              <div class="clear"></div>
              
           
         </div>

          </div>
          </div>
        </div>
        <%}%>
        <div class="container">
           
        
      <footer>
        <p>&copy; 2018 Chenxq, Practice.</p>
      </footer>
    </div> <!-- /container -->
    <script type="text/template" id="allcontents">
      <div class="col-md-4">
        <h2> <img width="40" height="40" src="/avatar/{{=avatar}}" alt=""/>{{=username}}：</h2>
        <p class="show-content">{{=content}} </p>
        <p class="answer">
          <span>{{=datetime}}</span>
          <span ><i class="icon iconfont icon-icon"></i></span>
           <span><i class="icon iconfont icon-dianzan"></i></span>
        </p>
      </div>
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/discuss/button.js"></script>
    <script> 
$(function(){
  let r=$("div#alluser-right").children();
    let l=$("div#alluser-left").children();
      for(let i=0;i<r.length;i++){
        let id=$(r[i]).attr("id");
        if(id=="addfriend"){
          r[i].onclick=function(){
            let user=l[i].innerHTML;
            $.post("/addfriends",{
              "friendsusername":user
            },result=>{
               if(result=="1"){
                 alert("添加朋友成功")
               }else{
                 alert("添加朋友失败");
               }
            })
          }
        }
      }
})
    </script>
    
  </body>
</html>
